<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Results</title>
    <!--* Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- * -->
    <link rel="stylesheet" href="/Stylesheets/CSS/playerResults.css">

</head>
<body>
    <!-- <span id="playerData"><% playerData.player %> </span> -->

    <div class="container">
        <!-- * Header -->
        <h1 class="text-center my-5">Player Results...</h1>

        <!-- * Number of results sub heading -->
        <div class="mb-3">
            <h3 id="numOfResults" class="d-inline">
                <% let counter = 0 %> 
                <% playerData.player.forEach((individual) => {  %>
                    <% if (individual.strSport === `Soccer`) { %>
                        <% counter++ %>
                    <% } %>
                     
                <% }) %> 
                <%= counter %> 
            </h3>
            <h3 class="d-inline">
                <% if (counter === 1) { %> Result <% } else { %> Results <% } %> 
            </h3>
        </div>
        
        <!-- * -->
            <% playerData.player.forEach((individual) => { %> 
                <% if (individual.strSport === `Soccer`) { %>
                    <div class="border mb-3">
                        <div class="row no-gutters">
                            <!-- * Image -->
                            <div class="col-1">
                                <% if (individual.strCutout === null) { %>
                                    <img class="img-responsive img-fluid resize border border-primary" src="/Images/playerResultsPlaceholder.jpg" alt="">
                                <% } else { %>
                                    <img class="img-responsive  resize border border-primary" src="<%= individual.strCutout %> " alt="">
                                <% } %> 
                            </div>
                            <!-- * Name -->
                            <div class="col-11">
                                <div class="row no-gutters">
                                    <div class="col-4 border text-center border-secondary">
                                        <p>hello</p>
                                    </div>
                                    <div class="col-4 border text-center border-success">
                                        <p>hello</p>
                                    </div>
                                    <div class="col-4 border text-center border-danger">
                                        <p>hello</p>
                                    </div>
                                    <!-- * Description -->
                                    <div class="col-12 border border-warning">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, minima dicta. Distinctio exercitationem, dolores excepturi iusto inventore unde aperiam quam iste laudantium ex nam commodi deleniti nulla. Dicta, asperiores beatae!</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       
                    </div>
                <% } %>
            <% }) %> 
    </div>


    <!-- <script src="/JavaScript/CountSearchResults.js"></script> -->
</body>
</html>



<!-- <ul>
        //<% playerData.player.forEach((individual) => { %> 
            <li>
                //<a href="/players/<%= individual.idPlayer %> "><%= individual.strPlayer %> </a>
            </li>
        //<% }) %> 
    </ul> -->