<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/Meta/defaultHeadData.ejs") %> 
    <link rel="stylesheet" href="/Stylesheets/CSS/show.css">
</head>
<body>
    <% const player = playerData.players[0]; %> 
    <%- include ("../partials/Show/show.ejs", {
        isFav,
        name:           player.strPlayer,
        id:             player.idPlayer,
        description:    player.strDescriptionEN,
        countryFlag:    countryFlags[player.strNationality],
        img:            player.strCutout,
        type:           "player"
    }) %> 
</body>
</html>