<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--* Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="text-center container">
        <h1 class="my-3"><%= playerData.players[0].strPlayer %> </h1>
        <p><%= playerData.players[0].strDescriptionEN %></p>
    </div>
</body>
</html>