<head>
    <link rel="stylesheet" href="Stylesheets/CSS/error.css">
</head>

<div class="text-center error-page">
    <h1 >Uh oh...there seems to be a problem</h1>

    <% if (data) { %>
        <p>'<%= data %>' did not return any results. </p>
    <% } %>
    
    <a href="/" class="btn btn-primary">Go Back?</a>
</div>

