<div class="row row-md">
    <u><h2 class="mb-4 col-4 favourites-title d-inline">Favourites</h2></u>

    <% if (listOfFavourites.length > 0) { %>
        <% if (listOfFavourites.length > 1) { %>
            <!-- *Remove ALL -->
            <form action="/favourites/deleteAll?_method=DELETE" method="POST" class="col-4 ml-4 mt-1 rm-all-btn mb-3 d-inline" onsubmit="return confirm('Are you sure you want to remove all?');">
                <input type="submit" value="Remove All" class="btn btn-danger ">
            </form>
        <% } %>
</div>

    <div class="row">
        <% for( let i = listOfFavourites.length - 1; i >= 0; i--) { %>
            <div class="col-9 col-xs-9 col-sm-8 col-md-6 col-lg-4 col-xl-4 mb-2 mt-4 favourites">
                <% if (listOfFavourites[i].teams) { %>
                    <% const team = listOfFavourites[i].teams[0]; %> 
                    <!-- *Pass through team data -->
                    <%- include ("./favouritesCard.ejs", {
                        name:               team.strTeam,
                        flag:               countryFlags[team.strCountry],
                        picture:            team.strTeamBadge,
                        backupPicture:      team.strTeamBadge,
                        info1Title:         "Fou:", 
                        info1:              team.intFormedYear,
                        info2Title:         "Nat:", 
                        info2:              team.strCountry.substr(0, 3),    
                        info3Title:         "Gen:",
                        info3:              formatPlayerGender(team.strGender),
                        info4Title:         "Kit:",
                        info4:              teamKits[i],
                        pictureTooltip:     "",
                        info5Title:         "Lge:",
                        info5:              turnStringIntoAcronym(team.strLeague),
                        info6Title:         "",
                        info6:              "",
                        showLink:           `/teams/${team.idTeam}`,
                        removeLink:         `/favourites/${team.idTeam}/delete?_method=DELETE` 
                    }) %>
                <% } else if (listOfFavourites[i].players) { %>
                    <% const player = listOfFavourites[i].players[0]; %> 
                    <!-- *Pass through player data -->
                    <%- include ("./favouritesCard.ejs", {
                        name:               player.strPlayer,
                        flag:               countryFlags[player.strNationality],
                        picture:            player.strCutout,
                        backupPicture:      player.strThumb,
                        info1Title:         "Age:", 
                        info1:              calculatePlayerAge(player.dateBorn),
                        info2Title:         "Nat:", 
                        info2:              player.strNationality.substr(0, 3),    
                        info3Title:         "Pos:",
                        info3:              turnStringIntoAcronym(player.strPosition),
                        info4Title:         "Clb:",
                        info4:              favPlayersTeam[i].badge,
                        pictureTooltip:     favPlayersTeam[i].teamName,
                        info5Title:         "Hei:",
                        info5:              formatPlayerHeight(player.strHeight),
                        info6Title:         "Gen:",
                        info6:              formatPlayerGender(player.strGender),
                        showLink:           `/players/${player.idPlayer}`,
                        removeLink:         `/favourites/${player.idPlayer}/delete?_method=DELETE`
                    }) %>
                <% } %>
            </div>
        <% } %>
    </div>
<% } else { %>
    <strong><p class="text-center py-5 h-50 my-5">No favourites selected! Search for a team/player and add them as a favourite.</p></strong>
<% } %> 

