<div class="row favourites-header">
    <u><h2 class="mb-4 mx-auto col-12 col-md-6 d-inline favourites-title">Favourites</h2></u>

    <% if (favourites.length > 0) { %>
        <% if (favourites.length > 1) { %>
            <!-- *Remove ALL -->
            <form action="/favourites/deleteAll?_method=DELETE" method="POST" class="col-6 d-inline mt-1 rm-all-btn" onsubmit="return confirm('Are you sure you want to remove all?');">
                <input type="submit" value="Remove All" class="btn btn-danger ">
            </form>
        <% } %>
</div>

    <div class="row">
        <% for( let i = 0; i < favourites.length; i++) { %>
            <div class="col-11 col-sm-9 col-md-6 col-lg-5 col-xl-4 mb-2 mt-4 favourites">
                <% if (favourites[i].Type === 'team') { %>
                    <% const team = favourites[i] %> 
                    <!-- *Pass through team data -->
                    <%- include ("./favouritesCard.ejs", {
                        name:               team.Name,
                        flag:               countryFlags[team.Nation],
                        picture:            team.Badge,
                        backupPicture:      team.Badge,
                        info1Title:         "Fou:", 
                        info1:              team.Founded,
                        info2Title:         "Nat:", 
                        info2:              team.Nation.substr(0, 3),    
                        info3Title:         "Gen:",
                        info3:              team.Gender,
                        info4Title:         "Kit:",
                        info4:              team.Kit,
                        pictureTooltip:     "",
                        info5Title:         "Lge:",
                        info5:              team.League,
                        info6Title:         "",
                        info6:              "",
                        showLink:           `/teams/${team.ID}`,
                        removeLink:         `/favourites/${team.ID}/deleteOnCard?_method=DELETE` 
                    }) %>
                <% } else { %>
                    <% const player = favourites[i]; %> 
                    <!-- *Pass through player data -->
                    <%- include ("./favouritesCard.ejs", {
                        name:               player.Name,
                        flag:               countryFlags[player.Nation],
                        picture:            player.Picture,
                        backupPicture:      player.BackupPicture,
                        info1Title:         "Age:", 
                        info1:              player.Age,
                        info2Title:         "Nat:", 
                        info2:              player.Nation.substr(0, 3),    
                        info3Title:         "Pos:",
                        info3:              player.Position,
                        info4Title:         "Clb:",
                        info4:              player.Club.Badge,
                        pictureTooltip:     player.Club.name,
                        info5Title:         "Hei:",
                        info5:              player.Height,
                        info6Title:         "Gen:",
                        info6:              player.Gender,
                        showLink:           `/players/${player.ID}`,
                        removeLink:         `/favourites/${player.ID}/deleteOnCard?_method=DELETE`
                    }) %>
                <% } %>
            </div>
        <% } %>
    </div>
<% } else { %>
    <strong><p class="text-center py-5 h-50 my-5">No favourites selected! Search for a team/player and add them as a favourite.</p></strong>
<% } %> 

