<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <ul>
        <% teamData.teams.forEach((team) => { %> 
            <li>
                <a href="/teams/<%= team.idTeam %>"><%= team.strTeam %> </a>
            </li>
        <% }) %> 
    </ul>
</body>
</html>