<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/Meta/defaultHeadData.ejs") %> 
    <link rel="stylesheet" href="/Stylesheets/CSS/show.css">
</head>
<body>
    <% const team = teamData.teams[0]; %> 
    <% const smallData = [
        {title: "Nicknames:", content: team.strKeywords},
        {title: "Founded:", content: team.intFormedYear},
        {title: "League:", content: team.strLeague},
        {title: "Stadium Name:", content: team.strStadium},
        {title: "Capacity:", content: team.intStadiumCapacity},
        {title: "Stadium Location:", content: team.strStadiumLocation},
        {title: "Gender:", content: team.strGender},
    ] %> 

    <%- include ("../partials/Show/show.ejs", {
        isFav,
        smallData,
        name:           team.strTeam,
        id:             team.idTeam,
        facebookLink:   team.strFacebook,
        twitterLink:    team.strTwitter,
        instagramLink:  team.strInstagram,
        description:    team.strDescriptionEN,
        countryFlag:    countryFlags[team.strCountry],
        img:            team.strTeamBadge,
        type:           "team",
        carouselImg1:   team.strTeamJersey,
        carouselImg2:   team.strTeamFanart1,
        carouselImg3:   team.strTeamFanart2,
        carouselImg4:   team.strTeamFanart3,
        carouselImg5:   team.strTeamLogo,
        carouselImg6:   team.strTeamFanart4,
        otherImgRightTitle: "Stadium:",
        otherImgRight:  team.strStadiumThumb,
        otherImgRightTooltip: team.strStadium,
        otherImgLeftTooltip:  team.strCountry,
    }) %> 

    <%- include('../partials/footer.ejs') %> 
</body>
</html>