<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page</title>
     <!--* Bootstrap CDN -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <!-- * Hard code `0` value into array as there should only be one result -->
    <h1 class="text-center"><%= teamData.teams[0].strTeam %> </h1>
    <!-- <h2><%=// teamFixturesData.events[0].strEvent %> </h2> -->

    <form action="/favourites/<%= teamData.teams[0].idTeam %>" method="POST">
        <input type="submit" value="Add Favourite!">
    </form>
    
</body>
</html>