<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/Meta/defaultHeadData.ejs") %> 
    <link rel="stylesheet" href="/Stylesheets/CSS/show.css">
</head>
<body>
    <% const team = teamData.teams[0]; %> 
    <%- include ("../partials/Show/show.ejs", {
        isFav,
        name:           team.strTeam,
        id:             team.idTeam,
        description:    team.strDescriptionEN,
        countryFlag:    countryFlags[team.strCountry],
        img:            team.strTeamBadge,
        type:           "team"
    }) %> 

    <%- include('../partials/footer.ejs') %> 
</body>
</html>