<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/Meta/defaultHeadData.ejs") %> 
    <link rel="stylesheet" href="/Stylesheets/CSS/login.css">
</head>
<body>
    <%- include(`../partials/navbar.ejs`) %> 

    <%- include ('../partials/authentication/authenticationForm.ejs', {
        title: "Register",
        route: "/register",
        altAuthLink: "/login",
        altAuthText: "Sign in"

    }) %> 

    <%- include('../partials/footer.ejs') %> 
</body>
</html>