<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>

    <ul>
        <% playerData.player.forEach((individual) => { %> 
            <li>
                <a href=""></a>
                <%= individual.strPlayer %> 
            </li>
        <% }) %> 
    </ul>
  
    
</body>
</html>