<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Football Database</title>
<!-- * Google Font - Graduate -->
<link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet" />
<!-- * Tangarine -->
<link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet" />
<!--* Bootstrap CDN -->
<link
	rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<!-- * Font Awesome -->
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>

<link rel="stylesheet" href="/Stylesheets/CSS/defaults.css" />
<link rel="stylesheet" href="/Stylesheets/CSS/flashMessages.css" />

<!-- * Dark mode -->
<% if (darkMode) { %>
<link rel="stylesheet" href="/Stylesheets/CSS/darkMode.css" />
<% } else { %>
<link rel="stylesheet" href="/Stylesheets/CSS/lightMode.css" />
<% } %>

<!-- * FAVICON -->
<link rel="apple-touch-icon" sizes="180x180" href="/Images/Favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/Images/Favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/Images/Favicon/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
