body {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#161616), to(#161616));
  background-image: linear-gradient(to top right, #161616, #161616);
  color: white;
}

input[type='text'],
input[type='password'],
textarea {
  background: #4b4a4a;
}
