* {
  font-family: 'Graduate', cursive;
}

body {
  background-color: #4e0b4e;
  background-image: -webkit-gradient(linear, left bottom, right top, from(pink), to(purple));
  background-image: linear-gradient(to top right, pink, purple);
  color: white;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}
