.jumbotron {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid black;
  width: 25em;
  height: 475px !important;
  margin: 0;
  position: absolute;
  top: 350px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#title {
  font-weight: bold;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#altAuthLink {
  font-size: 80%;
}

input[type='text'],
input[type='password'] {
  width: 90%;
  height: 38px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

.form-check-label,
.forgot-password {
  font-size: 80%;
}

.form-check-input {
  margin-top: 0.43rem !important;
}
