/** Maps */
/** used to restyle size of images */
.resize {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .resize {
    height: 70%;
  }
}

.responsive-border-image {
  border-right: 1px solid black !important;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.result-card {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#0f0f0f), color-stop(#0f0f0f), color-stop(#0f0f0f), to(gold));
  background-image: linear-gradient(to top left, #0f0f0f, #0f0f0f, #0f0f0f, gold);
}

.result-img {
  max-height: 200px !important;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.flag {
  width: 1.5em;
  height: 1em;
}
