<div class="container">
    <div class="jumbotron">
        <h4 class="title pt-0 pb-4"><%= title %> </h4>
        <form action="<%= route %> " method="POST">
            <div class="form-group">
                <!-- <label for="username">Username:</label> -->
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <!-- <label for="password">Password:</label> -->
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary px-5 mt-3">Submit!</button>
        </form>
    </div>
</div>