<div class="container pt-5">
    <div class="jumbotron ">
        <div class="text mt-2">
            <div class="row mt-2 upper-section">
                <p id="title" class=" pt-0 pb-4 col-6 text-center"><%= title %> </p>
                <a href="<%= altAuthLink %>" id="altAuthLink" class="col-6 text-center mt-1"><%= altAuthText %> </a>
            </div>
            
            <form action="<%= route %> " method="POST">
                <div class="form-group">
                    <label for="username" class="d-block text-left ml-4">Username:</label>
                    <input type="text" name="username" id="username" required>
                </div>

                <div class="form-group">
                    <label for="password" class="d-block text-left ml-4">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                
                <div class="row">
                    <div class="form-check col-6 ml-3">
                        <input type="checkbox" class="form-check-input mt-1" id="exampleCheck1" name="rememberMe">
                        <label class="form-check-label text-center " for="exampleCheck1">Remember me</label>
                    </div>
                    <div class="col-5 text-center">
                        <a href="/forgotPassword" class="forgot-password">Forgot Password?</a>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary px-5 mt-5 w-75">Submit!</button>
            </form>
        </div>
    </div>
</div>