<div class="row mt-4">
    <!-- * Profile image -->
    <div class="col-9 col-md-7 col-lg-4 profile-img w-75 h-75 mb-3">
        <div>
            <img class="flag-bg-img img-responsive img-fluid" src="<%= countryFlag %> " alt="" />
            <img class="cutout img-responsive img-fluid" src="<%= img %>" alt="Player Cutout" />
        </div>
    </div>
    <!-- * Description -->
    <div class="col-12 col-md-12 col-lg-8 mb-3">
        <div class="scrollBox">
            <p class="text-left"><%= description %></p>
        </div>
    </div>
</div>