<u><h4 class="mb-3">Stadium:</h4></u>
	<div class="row">
		<div class="col-xs-12 col-lg-4">
			<img src="<%= stadiumPic %> " alt="Stadium Picture" class="stadium-pic" />
		</div>
		<div class="col-lg-8 col-xs-12">
			<div class="scrollBox">
				<p class="text-left"><%= stadiumDescription %></p>
			</div>
		</div>
	</div>