@mixin FormatBackground {
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;
}

* {
	font-family: 'Graduate', cursive;
}

body {
	background-color: rgb(78, 11, 78);

	@include FormatBackground;
}
