$base-size: 80%;
$opacity: 0.8;

.error {
	color: red;
}

.success {
	color: lightgreen;
}

.info {
	color: lightblue;
}

.error,
.info,
.success {
	font-size: $base-size;
	opacity: $opacity;
	font-weight: bold;
	text-align: center;
}
