$inherited-colour: white;

@mixin removeButtonClickFeedback{
    &:active, &:focus{
        outline: none;
        border: none;
    }
}

.scrollBox{
    overflow: auto;
    height: 200px;
    width: auto;

    
}

::-webkit-scrollbar{
    //background: red;
  }


h1{
    border-bottom: 2px solid $inherited-colour;
}

.fa-star{
    color: gold;
    font-size: x-large;
}

.favourite-button{
    border: none;
    background: none;
    
    @include removeButtonClickFeedback();
    
}

.cutout{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
    object-fit: contain;
    overflow: hidden;
}

.flag-bg-img{
    position: relative;
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
}

form{
    button{
        border: none;
        background: none;
        @include removeButtonClickFeedback();
        .fab{
            margin: 0px 8px;
            color: white; /* blue colors for links too */
            text-decoration: initial; /* no underline */
    
            &:hover{
                background-image: linear-gradient(
                    to top right,
                    white,
                    white,
                    gold,
                    white
                );            -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}


